<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
    
  <servlet>
  	<servlet-name>groupjson</servlet-name>
  	<display-name>groupjson</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.groupjson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>financejson</servlet-name>
  	<display-name>financejson</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.financejson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>jsonchart</servlet-name>
  	<display-name>jsonchart</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.jsonchart</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletefinance</servlet-name>
  	<display-name>deletefinance</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.deletefinance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>uploadexcel</servlet-name>
  	<display-name>uploadexcel</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.uploadexcel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>emailservlet</servlet-name>
  	<display-name>emailservlet</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.emailservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editfinance</servlet-name>
  	<display-name>editfinance</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.editfinance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<display-name>signup</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>check</servlet-name>
  	<display-name>check</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.check</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createtable</servlet-name>
  	<display-name>createtable</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.createtable</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>dynamicjson</servlet-name>
  	<display-name>dynamicjson</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.dynamicjson</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addfinance</servlet-name>
  	<display-name>addfinance</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.addfinance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>designjson</servlet-name>
  	<display-name>designjson</display-name>
  	<description></description>
  	<servlet-class>com.crosstab.orgchart.designjson</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>groupjson</servlet-name>
  	<url-pattern>/groupjson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>financejson</servlet-name>
  	<url-pattern>/financejson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>jsonchart</servlet-name>
  	<url-pattern>/jsonchart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletefinance</servlet-name>
  	<url-pattern>/deletefinance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>uploadexcel</servlet-name>
  	<url-pattern>/uploadexcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>emailservlet</servlet-name>
  	<url-pattern>/emailservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editfinance</servlet-name>
  	<url-pattern>/editfinance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>check</servlet-name>
  	<url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createtable</servlet-name>
  	<url-pattern>/createtable</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>dynamicjson</servlet-name>
  	<url-pattern>/dynamicjson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addfinance</servlet-name>
  	<url-pattern>/addfinance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>designjson</servlet-name>
  	<url-pattern>/designjson</url-pattern>
  </servlet-mapping>
  
</web-app>
